@use "./components/navbar";
@use "./components/hero";
@use "./components/footer";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

* {
  color: #f9f9f9;
}

// Custom Scrollbar

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #22262d;
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}