header {
  position: absolute;
  top: 0; right: 0; left: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 74px;
  margin: 0 5vw;

  z-index: 1000;
  position: relative;

  // Toggle
  &-toggle,
  &-toggle-btn {
    display: none;
  }

  // Logo
  &-logo {
    height: 54px;
    object-fit: cover;
  }

  // List
  &-list {
    display: flex;
    list-style: none;
  }

  &-item {
    margin: 0 1.5rem;
  }

  // Links
  &-link,
  &-link__active {
    position: relative;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-decoration: none;
  }

  &-link::after,
  &-link__active::after {
    content: "";
    position: absolute;
    bottom: -.5rem; left: 0;
    height: 3px; width: 0;
    transition: width .3s ease-in;
    background-color: white;
  }

  &-link:hover::after {
    width: 100%;
  }

  &-link__active::after {
    transition: none;
    width: 100%;
  }
}

// Mobile

@media only screen and (max-width: 768px) {
  .navbar {
    &-toggle-btn {
      display: block;
      svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    // Toggle Checkbox
    &-toggle:checked ~ &-list {
      left: 0;
    }

    // Logo
    &-logo {
      height: 44px;
    }

    // List
    &-list {
      flex-direction: column;
      position: fixed;
      top: 74px; left: 100%;
      height: 100vh; width: 100%;
      padding-top: 2rem;
      background-color: rgba($color: #000000, $alpha: .9);
      overflow-y: auto;
      transition: left 1s cubic-bezier( 0.895, 0.03, 0, 0.99 );
    }

    &-item {
      margin: 1rem auto;
    }

    // Links
    &-link::after {
      transition: none;
    }
  }
}

// Extra large screens

@media only screen and (min-width: 1400px) {
  .navbar {
    margin: 0 12vw;
  }
}