$sexy-red: #eb4d55;

@mixin navbar-box {
  width: 100%;
  max-width: 1200px;
  height: 64px;
  max-height: 100%;
  margin: 0 2vh;
  padding: 15px;
}

@mixin link {
  display: block;
  padding: 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: white;
}

@mixin link-after {
  position: absolute; top: 100%; left: 0;
  content: "";
  height: 3px;
  width: 0;
  background-color: white;
  transition: width .2s ease-in;
}

header {
  display: flex;
  justify-content: center;
}

.navbar {
  @include navbar-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-toggle-check, &-toggle-btn {
    display: none;
  }

  &-logo {
    height: 44px;
    object-fit: contain;
  }

  &-list {
    display: flex;
    list-style: none;
  }

  &-item, &-item__active {
    position: relative;
    margin: 0 10px;
    padding: .5rem 1rem;
  }

  &-link {
    @include link;
    &::after {
      @include link-after;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &-link__active {
    @include link;

    &::after {
      @include link-after;
      transition: none;
      width: 100%;
    }
  }
}

// Mobile
@media (max-width: 768px) {
  .navbar {
    &-toggle-btn {
      display: block;
      cursor: pointer;
      font-size: 2.5rem;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      i::before {
        color: white;
      }
    }
    &-toggle-check:checked ~ &-list {
      left: 0;
    }

    &-list {
      flex-direction: column;
      align-items: center;
      position: fixed; top: 64px; left: 100%;
      height: calc(100vh - 64px);
      width: 100%;
      background-color: $sexy-red;
      overflow-y: auto;
      padding-top: 1rem;
      transition: left .8s cubic-bezier( 0.895, 0.03, 0, 0.99 );
    }

    &-link {
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      font-size: 1.2rem;
      padding: 10px;
      &::after {
        transition: none;
      }
      &__active {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-size: 1.2rem;
      }
    }
  }
}