.section {
  display: flex;
  align-items: center;
  height: 100vh;

  &-img {
    padding: 5%;
    height: 100%;
    width: 50%;
    object-fit: fill;
  }

  &-content {
    flex-basis: 100%;
    color: black;
  }

  &-header {
    color: black;
  }

  &-description {
    color: black;
  }
}